<div class="home-video-wrapper d-flex align-items-center justify-content-center">
  <%= video_tag "beach.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
  <h1 class="home"> Welcome to Paradise</h1>
</div>